*{
    box-sizing: border-box ;
    direction: ltr ;
}


a{
    text-decoration: none ;
}

body{
    margin: 0px ;
    font-size: 16px ;
}

.container{
    width: 100% ;
}

.container .phone{
    width: 400px ;
    margin: 0px auto ;
    background-color: green ;
    min-height: 100vh ;
}

.footer{
    width: 400px ;
    background-color: white ;
    position: fixed;
    bottom: 0px ;
    padding: 10px 20px ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-between ;
    align-items: center ;
}

.footer a{
    color: antiquewhite;
    font-size: 1.5em ;
}

.footer .profile{
    width: 50px ;
    height: 50px ;
    border-radius: 50% ;
}